:root {
  --bg: white;
  --fg: black;
  --header-bg: #cdf;
  --border: #aaa;
  --level-n-fg: #44f;
  --level-n-shadow: 0.1em 0.1em 0.2em #88f;
  --level-n-dis-fg: #888;
  --level-n-dis-shadow: none;
  --level-bg: #cdf;
}

html,
body {
  background-color: var(--bg);
  color: var(--fg);
  padding: 0;
  margin: 0;
}

#app-header {
  background: var(--header-bg);
  width: 100%;
  box-sizing: border-box;
  padding: 1rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: baseline;
}

main {
  margin: 1em auto;
  padding: 0 1em;
  max-width: 50em;
}
