#solve-equation {
  margin: 1em auto;
  padding: 0 1em;
  max-width: 50em;
  box-sizing: border-box;
}

#solve-equation .equation,
#solve-equation .answer {
  font-family: "Times New Roman", serif;
  font-style: italic;
  font-size: 150%;
}

#solve-equation textarea.equation {
  border: thin solid #ccc;
  outline: none;
  box-sizing: border-box;
  min-height: 6em;
  margin-top: 0.5em;
  width: 100%;
}

#solve-equation .answer input {
  font-size: inherit;
  font-family: inherit;
  font-style: inherit;
  padding: 0.3em;
}

#solve-equation button {
  font-size: 1em;
  padding: 1em;
  margin-right: 1em;
}

#solve-equation .equations-text {
  margin: 1em 0;
}

#solve-equation .assignment-icon {
  max-width: 5em;
  max-height: 5em;
  margin-left: 1em;
  float: right;
}
